@{
    ViewData["Title"] = "Create link";
}

<form class="position-absolute top-50 start-50 translate-middle w-50">
    <div class="form-group">
        <label for="link" class="mb-3 fw-normal fs-3">Link</label>
        <input type="text" class="form-control mb-3" id="input-link" placeholder="Enter link" required>
    </div>
    <button type="submit" class="btn btn-primary" id="submit-link" disabled>Submit</button>
</form>