@{
    ViewData["Title"] = "Create link";
}

<div class="alert alert-danger invisible" role="alert" id="error-block">
    <div id="error-message"></div>
</div>

<form action="/api/links" method="post">
    <div class="form-group">
        <label for="input-link" class="mb-3 fw-normal fs-3">Link</label>
        <input type="text" class="form-control mb-3" name="link" id="input-link" placeholder="Enter link" required>
    </div>
    <button type="submit" class="btn btn-primary" id="submit-link">Submit</button>
</form>

<script>
    document.querySelector("#submit-link").addEventListener("click", async (event) => {
        event.preventDefault();
        await fetch("/api/links", {
            method: "post",
            body: JSON.stringify({
                value: ("" + document.querySelector("#input-link").value).trim()
            }),
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            }
        })
            .then(async (response) => {
                if (response.ok)
                {
                    document.location.replace(document.location.origin);
                    return;
                }
                let body = await response.json();
                document.querySelector("#error-block").classList.remove("invisible");
                document.querySelector("#error-message").innerHTML = body.errors[Object.keys(body.errors)[0]];
                return;
            })
            .catch(e => console.log(e));
    });
</script>